body {
    background-color: lightsteelblue;
}

h1 {
    text-align: center;
    color: #555555;
}

#id3, #id1 {
    color: #555;
    width: 15%;
}

#id2, #id4 {
    color: #555;
    width: 10%;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
#control {
    color: chartreuse;
}
input[type = text] {
    width: 40%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type = date] {
    width: 40%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=submit] {
    width: 20%;
    background-color: dodgerblue;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: lightskyblue;
}

#correspondent {
    color: whitesmoke;
    background-color: dodgerblue;
    width: 15%;
    border: 5px solid dodgerblue;
    border-radius: 4px;
}

#formDelivery {
    color: whitesmoke;
    background-color: dodgerblue;
    width: 15%;
    border: 5px solid dodgerblue;
    border-radius: 4px;
}