<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/cssandjs/allData.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(allData)}">
            <h2>Информация о данных </h2>
            <table id="customers">
                <tr>
                    <th>Идентификация</th>
                    <th>Рег. №</th>
                    <th>Дата рег.</th>
                    <th>Тема</th>
                    <th>Описание</th>
                    <th>Срок исполнения</th>
                    <th>Имя файла</th>
                </tr>
                <tr th:each="data : ${allData}" th:onclick="|window.location='/data/by/' + ${data.id}">
                    <td th:utext="${data.id}"></td>
                    <td th:utext="${data.registerNumber}"></td>
                    <td th:utext="${data.registerDate}"></td>
                    <td th:utext="${data.theme}"></td>
                    <td th:utext="${data.description}"></td>
                    <td th:utext="${data.dueDate}"></td>
                    <td th:utext="${data.fileName}"></td>
                </tr>
            </table>
    </div>
</div>
</body>
</html>
