<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/cssandjs/allData.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(allData)}">
        <h2>All data </h2>
        <table id="customers">
            <tr>
                <th>RegisterNumber</th>
                <th>RegisterDate</th>
<!--                <th>OutgoingNumber</th>-->
<!--                <th>OutgoingDate</th>-->
<!--                <th>DeliveryType</th>-->
<!--                <th>Correspondent</th>-->
                <th>Theme</th>
                <th>Description</th>
                <th>DueDate</th>
<!--                <th>Access</th>-->
<!--                <th>Control</th>-->
                <th>FileName</th>
<!--                <th>FilePathName</th>-->
            </tr>
            <tr th:each="data : ${allData}">
                <td th:utext="${data.registerNumber}"></td>
                <td th:utext="${data.registerDate}"></td>
<!--                <td th:utext="${data.outgoingNumber}"></td>-->
<!--                <td th:utext="${data.outgoingDate}"></td>-->
<!--                <td th:utext="${data.deliveryType}"></td>-->
<!--                <td th:utext="${data.correspondent}"></td>-->
                <td th:utext="${data.theme}"></td>
                <td th:utext="${data.description}"></td>
                <td th:utext="${data.dueDate}"></td>
<!--                <td th:utext="${data.access}"></td>-->
<!--                <td th:utext="${data.control}"></td>-->
                <td th:utext="${data.fileName}"></td>
<!--                <td th:utext="${data.filePathName}"></td>-->
            </tr>
        </table>
    </div>
</div>
</body>
</html>
