<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="style.css" media="screen" type="text/css">-->
        <link th:href="@{/styles/cssandjs/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>Регистрация входящего документа</h1>
<div>
    <form action="/saveDocs" method="post" enctype="multipart/form-data" name="myForm"
          onsubmit="return validateRegNum() && compareDate()">
        <label for="id1">Рег. №</label>
        <input type="text" id="id1" name="registerNumber" placeholder="Рег. №..." required>

        <label for="id2">Дата рег.</label>
        <input type="date" id="id2" name="registerDate" placeholder="Дата рег..." required><br>

        <label for="id3">№ исх. док-та</label>
        <input type="text" id="id3" name="leaveRegisterNumber" placeholder="№ исх. док-та...">

        <label for="id4">Дата исх. док-та</label>
        <input type="date" id="id4" name="leaveDate" placeholder="Дата исх. док-та..."><br>

        Форма доставки:
        <!--            <label>-->
        <select name="formDelivery" id="formDelivery">
            <option th:each="deliveryType : ${forms}"
                    th:value="${deliveryType.id}"
                    th:utext="${deliveryType.name}"
            ></option>
        </select>
        <!--            </label>-->

        Корреспондент:
        <select name="correspondent" id="correspondent">
            <option th:each="correspondentType : ${correspondents}"
                    th:value="${correspondentType.id}"
                    th:utext="${correspondentType.name}"
            ></option>
        </select>
        <br>
        <label for="topic">Тема</label>
        <input type="text" name="topic" id="topic" maxlength="100" required placeholder="Тема..."><br>

        <label for="textarea">Описание</label>
        <textarea id="textarea" name="description" rows="4" cols="40" maxlength="1000"
                  placeholder="Описание..."></textarea><br>
        <label for="id5">Срок исполнения</label><input type="date" id="id5" name="executionPeriod"><br>
        Доступ:
        <label>
            Да
            <input type="radio" name="access" value="1">
            Нет
            <input type="radio" name="access" value="0" checked></label><br>

        Контроль:
        <label>
            Да
            <input type="radio" name="control" value="1">
            Нет
            <input type="radio" name="control" value="0" checked></label><br>

        <label for="file">Выбрать файл</label><input type="file" accept="application/pdf, application/msword"
                                                     name="file"
                                                     id="file" onchange="return validateSize(this)"><br><br>

        <input type="submit" onclick="return validateExtension()" value="Сохранить" id="sub1"/>
        <input type="submit" value="Закрыть"/>
    </form>
</div>
<script>
    function validateRegNum() {
        const x = document.forms["myForm"]["registerNumber"].value;
        const regExp = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/;
        let isValid = !!x.match(regExp);

        if (!isValid) {
            alert("Регистрационный номер не может состоять только из букв или специальных символов!")
        }
        return isValid;
    }

    function compareDate() {
        const dateRegistration = document.getElementById("id2").value;
        const periodOfExecution = document.getElementById("id5").value;
        let b = new Date(periodOfExecution) > new Date(dateRegistration);
        if (!b) {
            alert("Срок исполнения не может быть раньше даты регистрации документа!")
        }
        return b;
    }

    function validateSize(file) {
        const fileSize = file.files[0].size / 1024 / 1024; // in MB
        if (fileSize > 1) {
            alert("Размер файла превышает 1 МБ. Пожалуйста, выберите файл размером менее 1 МБ!");
            file.value = "";
            return false;
        }
    }

    function validateExtension() {
        const fileName = document.getElementById("file");
        if (fileName.value.endsWith(".doc") || fileName.value.endsWith(".pdf") || fileName.value.endsWith(".docx")) {
            return true;
        } else {
            alert("Неправильное расширение файла!")
            return false;
        }
    }
</script>
</body>
</html>