<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet"/>
    <!--    <link rel="stylesheet" href="../static/styles/cssandjs/main.css"/>-->
</head>
<body>
<h2>Регистрация входящего документа</h2>
<div class="container">
    <form action="/saveDocs" method="post" enctype="multipart/form-data" name="myForm"
          onsubmit="return validateRegNum() && compareDate()">


        <div class="row">
            <div class="col-25">
                <label for="id1">Рег. №</label>
            </div>
            <div class="col-75">
                <input type="text" id="id1" name="registerNumber" placeholder="Рег. №..." required>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="id2">Дата рег.</label>
            </div>
            <div class="col-75">
                <input type="date" id="id2" name="registerDate" placeholder="Дата рег..." required><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="id3">№ исх. док-та</label>
            </div>
            <div class="col-75">
                <input type="text" id="id3" name="leaveRegisterNumber" placeholder="№ исх. док-та...">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="id4">Дата исх. док-та</label>
            </div>
            <div class="col-75">
                <input type="date" id="id4" name="leaveDate" placeholder="Дата исх. док-та..."><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="formDelivery"> Форма доставки:</label>
            </div>
            <div class="col-75">
                <select name="formDelivery" id="formDelivery">
                    <option th:each="deliveryType : ${forms}"
                            th:value="${deliveryType.id}"
                            th:utext="${deliveryType.name}"
                    ></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="correspondent">Корреспондент:</label>
            </div>
            <div class="col-75">
                <select name="correspondent" id="correspondent">
                    <option th:each="correspondentType : ${correspondents}"
                            th:value="${correspondentType.id}"
                            th:utext="${correspondentType.name}"
                    ></option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="topic">Тема</label>
            </div>
            <div class="col-75">
                <input type="text" name="topic" id="topic" maxlength="100" required placeholder="Тема..."><br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="textarea">Описание</label>
            </div>
            <div class="col-75">
 <textarea id="textarea" name="description" rows="2" cols="40" maxlength="1000"
           placeholder="Описание..."></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="id5">Срок исполнения</label>
            </div>
            <div class="col-75">
                <input type="date" id="id5" name="executionPeriod"><br>
            </div>
        </div>

        Доступ:
        <label class="control-box">
            <input type="radio" id="radio1" name="access" value="1">
            <label for="radio1">Да</label>
            <input type="radio" id="radio2" name="access" value="0" checked>
            <label for="radio2">Нет</label>
        </label><br>

        Контроль:
        <label class="control-box-1">
            <input type="radio" id="rad1" name="control" value="1">
            <label for="rad1">Да</label>
            <input type="radio" id="rad2" name="control" value="0" checked>
            <label for="rad2">Нет</label>
        </label>

        <div class="row">
            <div class="col-25">
                <label for="file" class="custom-file-upload"><i class="fa fa-cloud-upload"></i>Выбрать файл</label>
            </div>
            <div class="col-75">
                <input type="file" accept="application/pdf, application/msword"
                       name="file"
                       id="file" style="display: none"
                       onchange="return validateSize(this)">
                <input id="uploadFile" placeholder="no file" disabled="disabled">
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Сохранить" id="sub1"/>
            <form action="/getAllDocs" method="post" enctype="multipart/form-data" name="form2"><input type="submit" value="Закрыть"/></form>
        </div>

    </form>
</div>
<script>
    function validateRegNum() {
        const x = document.forms["myForm"]["registerNumber"].value;
        const regExp = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/;
        let isValid = !!x.match(regExp);

        if (!isValid) {
            alert("Регистрационный номер не может состоять только из букв или специальных символов!")
        }
        return isValid;
    }

    function compareDate() {
        const dateRegistration = document.getElementById("id2").value;
        const periodOfExecution = document.getElementById("id5").value;
        let b = new Date(periodOfExecution) > new Date(dateRegistration);
        if (!b) {
            alert("Срок исполнения не может быть раньше даты регистрации документа!")
        }
        return b;
    }

    function validateSize(file) {
        const fileSize = file.files[0].size / 1024 / 1024; // in MB
        if (fileSize > 1) {
            alert("Размер файла превышает 1 МБ. Пожалуйста, выберите файл размером менее 1 МБ!");
            file.value = "";
            return false;
        }
        validateExtension();
    }

    function validateExtension() {
        const fileName = document.getElementById("file");
        if (fileName.value.endsWith(".doc") || fileName.value.endsWith(".pdf") || fileName.value.endsWith(".docx")) {
            return true;
        } else {
            alert("Неправильное расширение файла!")
            fileName.value = "";
            return false;
        }
    }

    function validateEmptyFields() {
        const regNum = document.getElementById("id1").value;
        const regDate = document.getElementById("id2").value;
        const regTheme = document.getElementById("topic").value;
        if (regNum === "" || regDate === "" || regTheme === "") {
            alert("Заполните пустые поля")
            return false;
        }
    }

    document.getElementById("file").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };
</script>
</body>
</html>