<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Регистрации документа</h1>
<form action="/someUrl" method="post" name="myForm" onsubmit="return validateRegNum() && compareDate()">
    <label for="id1">Рег. №</label><input type="text" id="id1" name="registerNumber" required><br>
    <label for="id2">Дата рег.</label><input type="date" id="id2" name="registerDate" required><br>
    <label for="id3">№ исх. док-та</label><input type="text" id="id3" name="leaveRegisterNumber"><br>
    <label for="id4">Дата исх. док-та</label><input type="date" id="id4" name="leaveDate"><br>

    <td>Форма доставки:</td>
    <td>
        <label>
            <select>
                <option th:each="deliveryType : ${forms}"
                        th:value="${deliveryType.id}"
                        th:utext="${deliveryType.name}"
                ></option>
            </select>
        </label>
    </td>
    <br>

    <td>Корреспондент:</td>
    <td>
        <label>
            <select>
                <option th:each="correspondentType : ${correspondents}"
                        th:value="${correspondentType.id}"
                        th:utext="${correspondentType.name}"
                ></option>
            </select>
        </label>
    </td><br>
    <!--    <label for="text">Тема</label><input type="text" id="text" maxlength="100"><br>-->
    <label for="textarea1">Тема</label>
    <textarea id="textarea1" name="topic" rows="4" cols="40" maxlength="100" required></textarea><br>
    <!--    <label for="text2">Описание</label><input type="text" id="text2" maxlength="1000"><br>-->
    <label for="textarea">Описание</label>
    <textarea id="textarea" name="description" rows="4" cols="40" maxlength="1000"></textarea><br>
    <label for="id5">Срок исполнения</label><input type="date" id="id5" name="executionPeriod"><br>
    Доступ:
    <label>
        <input type="radio" name="access">
    </label>Да</input>
    <label>
        <input type="radio" name="access" checked>
    </label>Нет</input><br>

    Контроль:
    <label>
        <input type="radio" name="control">
    </label>Да</input>
    <label>
        <input type="radio" name="control" checked>
    </label>Нет</input><br>
    <label for="file">Select file</label><input type="file" accept="application/pdf, application/msword" name="file"
                                                id="file" onchange="return validateSize(this)"><br><br>
    <button type="submit" onclick="return validateExtension()" value="save">Сохранить</button>
    <button type="submit" value="exit">Закрыть</button>
</form>
<script>
    function validateRegNum() {
        const x = document.forms["myForm"]["registerNumber"].value;
        const regExp = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/;
        let isValid = !!x.match(regExp);

        if (!isValid) {
            alert("wrong text!")
        }
        return isValid;
    }

    function compareDate() {
        const dateRegistration = document.getElementById("id2").value;
        const periodOfExecution = document.getElementById("id5").value;
        let b = new Date(periodOfExecution) > new Date(dateRegistration);
        if (!b) {
            alert("wrong date!")
        }
        return b;
    }

    function validateSize(file) {
        const fileSize = file.files[0].size / 1024 / 1024; // in MB
        if (fileSize > 1) {
            alert('File size exceeds 1 MB. Please choose file less than 1 MB');
            return false;
        }
    }

    function validateExtension() {
        const fileName = document.getElementById("file");
        if (fileName.value.endsWith(".doc") || fileName.value.endsWith(".pdf") || fileName.value.endsWith(".docx")) {
            return true;
        } else {
            alert("wrong file extension")
            return false;
        }
    }
</script>
</body>
</html>