<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<h2>О файле </h2>
<table id="customers">
    <tr th:each="data : ${object}">
        <th>Рег. №</th>
        <td th:utext="${data.registerNumber}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Дата рег.</th>
        <td th:utext="${data.registerDate}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>№ исх. док-та</th>
        <td th:utext="${data.outgoingNumber}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Дата исх. док-та</th>
        <td th:utext="${data.outgoingDate}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Форма доставки</th>
        <td th:utext="${data.deliveryType}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Корреспондент</th>
        <td th:utext="${data.correspondent}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Тема</th>
        <td th:utext="${data.theme}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Описание</th>
        <td th:utext="${data.description}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Срок исполнения</th>
        <td th:utext="${data.dueDate}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Доступ</th>
        <td th:utext="${data.access}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Контроль</th>
        <td th:utext="${data.control}"></td>
    </tr>
    <tr th:each="data : ${object}">
        <th>Файл</th>
        <td th:utext="${data.fileName}" th:onclick="|window.location='/getFile/' + ${data.id}"></td>
    </tr>
</table>
</body>
</html>