<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/welcome.css}" rel="stylesheet" />
</head>
<body>
<h1>Используемые технологии</h1>
<ul class="list">
    <li>Java</li>
    <li>Spring boot</li>
    <li>Thymeleaf</li>
    <li>MySql</li>
    <li>Javascript</li>
    <li>HTML</li>
</ul>

<div class="select-sql"><p><strong>Предоставить список документов, поступивших от ЦБ (центрального банка) по
    электронной почте за текущий
    месяц.</strong></p>
    <p><code>
        SELECT * FROM incoming_docs
        WHERE (MONTH(REGISTER_DATE) = MONTH(CURDATE()) AND YEAR(REGISTER_DATE) = YEAR(CURDATE()))
        AND CORRESPONDENT=(SELECT ID FROM ref_data WHERE NAME ='ЦБ' AND REF_TYPE_ID = (SELECT ID FROM ref_types WHERE
        NAME='correspondent_type'))
        AND DELIVERY_TYPE=(SELECT ID FROM ref_data WHERE NAME ='Email' AND REF_TYPE_ID = (SELECT ID FROM ref_types WHERE
        NAME='delivery_type'));
    </code>
    </p>
    <button onclick="location.href='/getAllFromCentralBankViaEmailForCurrentMonth'" class="regNewDocBtn">Посмотреть</button><br>
    <p><strong>Предоставить список документов за 1 квартал текущего года, кроме поступивших из ГНИ с доставкой
        курьером.</strong></p>
    <p>
        <code>
            SELECT * FROM incoming_docs
            WHERE (MONTH(REGISTER_DATE) < 4 AND YEAR(REGISTER_DATE) = YEAR(CURDATE()))
            AND NOT (CORRESPONDENT = (SELECT ID FROM ref_data WHERE NAME ='ГНИ' AND REF_TYPE_ID=(SELECT ID FROM ref_types WHERE NAME='correspondent_type'))
            AND DELIVERY_TYPE = (SELECT ID FROM ref_data WHERE NAME ='Курьер' AND REF_TYPE_ID=(SELECT ID FROM ref_types WHERE NAME='delivery_type')));
        </code>
    </p>
    <button onclick="location.href='/getAllForFirstQuarterOfThisYearExceptFromGniViaCurrier'" class="regNewDocBtn">Посмотреть</button><br>

    <p><strong>Предоставить список документов за предыдущий месяц, поступивших от ТСЖ, исключая документы о
        предоставления кредита (в теме писем от корреспондентов будет встречаться слово кредит).</strong></p>
    <p><span style="color: #820b03">SELECT * FROM</span> incoming_docs <span style="color: #820b03">WHERE</span>
        (REGISTER_DATE <span style="color: #820b03">BETWEEN</span><span style="color: #fc53b6">'2020-07-01'</span>
        <span style="color: #820b03">AND</span> <span style="color: #fc53b6">'2020-07-31'</span>) <span
                style="color: #820b03">AND</span> CORRESPONDENT =(<span style="color: #820b03">SELECT</span> ID
        <span style="color: #820b03">FROM</span> ref_data <span style="color: #820b03">WHERE</span> NAME ='ТСЖ')
        <span style="color: #820b03">AND</span> THEME <span style="color: #820b03">NOT LIKE</span> <span
                style="color: #fc53b6">'%кредит%';</span>

    </p></div>

<button onclick="location.href='/main'" class="regNewDocBtn">Добавить новый документ</button>

</body>
</html>
